html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    background-color: #454545;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: #5D3891;
    border: 2px solid black;
    border-radius: 8px;
    margin: auto;
    width: 370px;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.75);
}

.screen {
    padding: 20px;
    margin: 20px;
    background-color: #F5F5F5;
    color: #252525;
    font-size: 32px;
    font-weight: bold;
    width: 300px;
    height: 36px;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

.keys-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keys-1,
.keys-2,
.keys-3,
.keys-4,
.keys-5 {
    display: flex;
    flex-direction: row;
}

.keys-item {
    margin: 3px;
    padding: 10px;
    background-color: rgb(60, 60, 60);
    color: #E8E2E2;
    font-size: 28px;
    border-radius: 8px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.top-keys {
    background-color: #b1b1b1;
    color: black;
}

.side-keys {
    background-color: #F99417;
    color: #E8E2E2;
}

.zero-key {
    width: 145px;
}

.keys-item:hover {
    box-shadow: 0 0 12px rgba(24, 24, 24, 0.7) inset;
}

.credit {
    color: white;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

a {
    margin-left: 30px;
}

.git {
    height: 40px;
    width: 40px;
}